In [2]:
import pandas as pd
airline=pd.read_csv(r'C:\Users\Ngoc Anh\Downloads\airlines_updated.csv')

In [3]:
airline.head()

,Unnamed: 0,id,day,airline,destination,dest_region,dest_size,boarding_area,dept_time,wait_min,cleanliness,safety,satisfaction
0,0,1351,Tuesday,UNITED INTL,KANSAI,Asia,Hub,Gates 91-102,31-12-18,115,Clean,Neutral,Very satisfied
1,1,373,Friday,ALASKA,SAN JOSE DEL CABO,Canada/Mexico,Small,Gates 50-59,31-12-18,135,Clean,Very safe,Very satisfied
2,2,2820,Thursday,DELTA,LOS ANGELES,West US,Hub,Gates 40-48,31-12-18,70,Average,Somewhat safe,Neutral
3,3,1157,Tuesday,SOUTHWEST,LOS ANGELES,West US,Hub,Gates 20-39,31-12-18,190,Clean,Very safe,Somewhat satsified
4,4,2992,Wednesday,AMERICAN,MIAMI,East US,Hub,Gates 50-59,31-12-18,559,Somewhat clean,Very safe,Somewhat satsified

In [4]:
category=pd.read_csv(r'C:\Users\Ngoc Anh\Downloads\categories.csv')

In [6]:
category.head()

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied

In [7]:
#Question1: Find inconsistent values in Cleanliness, Safety, Satisfaction referenced category and drop them

#Print unique values of cleanliness, safety, satisfaction
print(airline['cleanliness'].unique())

['Clean' 'Average' 'Somewhat clean' 'Unacceptable' 'Somewhat dirty'
 'Dirty']

In [8]:
print(airline['safety'].unique())

['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

In [10]:
print(airline['satisfaction'].unique())

['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [12]:
#Find inconsistent value in cleanliness
inconsistent = set(airline['cleanliness']).difference(category['cleanliness'])
print(inconsistent_row)

{'Unacceptable'}

In [19]:
#Print rows with inconsistent category
inconsistent_row=airline['cleanliness'].isin(inconsistent)
print(airline[inconsistent_row])

      Unnamed: 0    id       day           airline      destination  \
6              6  2578  Saturday           JETBLUE       LONG BEACH
21            22  1373   Tuesday       UNITED INTL         SHANGHAI
45            48  1140   Tuesday         SOUTHWEST      LOS ANGELES
80            88  3202    Sunday    CATHAY PACIFIC        HONG KONG
110          124  3052   Tuesday          AMERICAN            MIAMI
140          160  1724    Monday        AIR CANADA          TORONTO
160          181  1261  Thursday     CHINA EASTERN         SHANGHAI
219          246   810    Sunday            ALASKA        BALTIMORE
255          292  2921    Friday  TURKISH AIRLINES         ISTANBUL
1702        1937  1805    Monday       UNITED INTL  LONDON HEATHROW

        dest_region   dest_size boarding_area dept_time  wait_min  \
6           West US       Small    Gates 1-12  31-12-18        63
21             Asia    Hub       Gates 91-102  31-12-18       145
45          West US         Hub   Gates 20-39  31-12-18       415
80             Asia         Hub    Gates 1-12  01-01-18       210
110         East US         Hub   Gates 50-59  31-12-18       125
140   Canada/Mexico         Hub  Gates 91-102  31-12-18       150
160            Asia         Hub    Gates 1-12  31-12-18       195
219         EAST US      Medium   Gates 50-59  31-12-18       170
255     Middle East         Hub  Gates 91-102  31-12-18       235
1702         Europe         Hub  Gates 91-102  31-12-18       215

       cleanliness         safety        satisfaction
6     Unacceptable      Very safe  Somewhat satsified
21    Unacceptable      Very safe  Somewhat satsified
45    Unacceptable      Very safe  Somewhat satsified
80    Unacceptable        Neutral  Somewhat satsified
110   Unacceptable  Somewhat safe  Somewhat satsified
140   Unacceptable      Very safe      Very satisfied
160   Unacceptable      Very safe  Somewhat satsified
219   Unacceptable  Somewhat safe             Neutral
255   Unacceptable      Very safe      Very satisfied
1702  Unacceptable      Very safe      Very satisfied

In [21]:
consistent_row=airline[~inconsistent_row]

In [22]:
#Question 2: Consolidate the form for values in dest_region and dest_size

#Part1: dest_region
#Select unique value from dest_region
airline['dest_region'].unique()

array(['Asia', 'Canada/Mexico', 'West US', 'East US', 'Midwest US',
       'EAST US', 'Middle East', 'Europe', 'eur', 'Central/South America',
       'Australia/New Zealand', 'middle east'], dtype=object)

In [26]:
#Change the capitalization of all values of dest_region to lowercase
airline['dest_region']=airline['dest_region'].str.lower()

In [24]:
#Replace "eur" with "europe"
airline['dest_region']=airline['dest_region'].replace({'eur':'europe'})

In [27]:
#Check the result
airline['dest_region'].value_counts()

west us                  864
east us                  436
europe                   351
midwest us               251
asia                     226
canada/mexico            198
middle east               69
australia/new zealand     60
central/south america     22
Name: dest_region, dtype: int64

In [28]:
#Part2: dest_size

#Select unique values from dest_size
airline['dest_size'].unique()

array(['Hub', 'Small', '    Hub', 'Medium', 'Large', 'Hub     ',
       '    Small', 'Medium     ', '    Medium', 'Small     ',
       '    Large', 'Large     '], dtype=object)

In [32]:
#Remove spaces from dest_size
airline['dest_size']=airline['dest_size'].str.strip()

In [33]:
#Check the result
airline['dest_size'].unique()

array(['Hub', 'Small', 'Medium', 'Large'], dtype=object)

In [34]:
#Question 3. Create the ranges and labels for the wait_type from wait_min mentioned in the description below: 
# wait_type: 'short' for 0-60 min, 'medium' for 60-180 and long for 180+

import numpy as np

In [37]:
ranges=[0,60,180,np.inf]
names=['short','medium','long']
airline['wait_type']=pd.cut(airline['wait_min'],bins=ranges,labels=names)

In [41]:
airline[['wait_type','wait_min']]

     wait_type  wait_min
0       medium       115
1       medium       135
2       medium        70
3         long       190
4         long       559
...        ...       ...
2472      long       280
2473    medium       165
2474    medium        92
2475    medium        95
2476      long       220

[2477 rows x 2 columns]

In [46]:
#Question 4: Create the mapping dictionary mapping weekdays to 'weekday' and weekend days to 'weekend'

mapping={'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}
airline['day']=airline['day'].replace(mapping)

In [48]:
airline['day']

0       weekday
1       weekday
2       weekday
3       weekday
4       weekday
         ...
2472    weekday
2473    weekday
2474    weekday
2475    weekday
2476    weekend
Name: day, Length: 2477, dtype: object