In [6]:
import matplotlib.pyplot as plt
import pandas as pd

#import data
ride_sharing=pd.read_csv(r'C:\Users\Ngoc Anh\Downloads\ride_sharing_new.csv')

In [7]:
#Part1: Data Type Constraints
ride_sharing.head()

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [8]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB

In [9]:
ride_sharing['user_type'].describe()

count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [12]:
#Convert user_type into category
ride_sharing['user_type']=ride_sharing['user_type'].astype('category')

In [15]:
#Check user_type
assert ride_sharing['user_type'].dtype=='category'
ride_sharing['user_type'].describe()

count     25760
unique        3
top           2
freq      12972
Name: user_type, dtype: int64

In [16]:
# Check statisic Summary for Duration
ride_sharing['duration'].describe()

count         25760
unique          172
top       7 minutes
freq           2322
Name: duration, dtype: object

In [17]:
#Convert Duration to Interger
ride_sharing['duration']=ride_sharing['duration'].str.strip('minutes')

ride_sharing['duration']=ride_sharing['duration'].astype('int')

In [19]:
#Check data type of Duration
assert ride_sharing['duration'].dtype=='int'
ride_sharing['duration'].describe()

count    25760.000000
mean        11.389053
std         23.500516
min          1.000000
25%          6.000000
50%          9.000000
75%         13.000000
max       1372.000000
Name: duration, dtype: float64

NameError: name 'ride_sharing' is not defined