In [7]:
import pandas as pd
ride_sharing=pd.read_csv(r'C:\Users\Ngoc Anh\Downloads\data_ride_sharing_updated.csv')

In [8]:
ride_sharing.head()

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male

In [9]:
#Find duplicates values in ride_id
subset={'ride_id'}
duplicates=ride_sharing.duplicated(subset=subset, keep=False)

In [10]:
ride_sharing[duplicates].sort_values(by='ride_id')

,ride_id,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
10,10,19 minutes,81,Berry St at 4th St,16,Steuart St at Market St,1883,2,1983,Male
11,10,19 minutes,81,Berry St at 4th St,16,Steuart St at Market St,1883,2,1983,Male
20,19,17 minutes,16,Steuart St at Market St,42,San Francisco City Hall (Polk St at Grove St),5230,2,2000,Male
21,19,17 minutes,16,Steuart St at Market St,42,San Francisco City Hall (Polk St at Grove St),5230,2,2000,Male
48,46,7 minutes,5,Powell St BART Station (Market St at 5th St),41,Golden Gate Ave at Polk St,2430,2,1989,Male
49,46,7 minutes,5,Powell St BART Station (Market St at 5th St),41,Golden Gate Ave at Polk St,3617,2,1989,Male
60,57,11 minutes,21,Montgomery St BART Station (Market St at 2nd St),61,Howard St at 8th St,2918,2,1999,Female
61,57,11 minutes,21,Montgomery St BART Station (Market St at 2nd St),61,Howard St at 8th St,2918,2,1999,Female
71,66,5 minutes,30,San Francisco Caltrain (Townsend St at 4th St),28,The Embarcadero at Bryant St,1012,1,1991,Female
70,66,5 minutes,30,San Francisco Caltrain (Townsend St at 4th St),28,The Embarcadero at Bryant St,1012,1,1991,Female
82,78,15 minutes,16,Steuart St at Market St,90,Townsend St at 7th St,1547,2,1990,Female
84,78,15 minutes,16,Steuart St at Market St,90,Townsend St at 7th St,1547,2,1990,Female
132,126,10 minutes,81,Berry St at 4th St,321,5th St at Folsom,4832,1,1996,Male
133,126,10 minutes,81,Berry St at 4th St,321,5th St at Folsom,4832,1,1996,Male
165,158,6 minutes,16,Steuart St at Market St,67,San Francisco Caltrain Station 2 (Townsend St...,6235,3,1967,Male
166,158,6 minutes,16,Steuart St at Market St,67,San Francisco Caltrain Station 2 (Townsend St...,6235,3,1967,Male
3793,3785,5 minutes,5,Powell St BART Station (Market St at 5th St),80,Townsend St at 5th St,5325,2,1991,Other
3794,3785,5 minutes,5,Powell St BART Station (Market St at 5th St),80,Townsend St at 5th St,3420,2,1991,Other

In [11]:
#Drop complete duplicated values
ride_sharing.drop_duplicates(inplace=True)

In [26]:
#Replace incomplelte values by mean
ride_sharing.info()
ride_sharing.head()
statistic={'duration':'mean'}
ride_sharing=ride_sharing.groupby(by='ride_id').agg(statistic).reset_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ride_id   25760 non-null  int64
 1   duration  25760 non-null  int32
dtypes: int32(1), int64(1)
memory usage: 302.0 KB

In [ ]:
#